@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-color-white font-text text-color-text;
}

a,
button,
input {
  @apply transition-colors;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #b080f8 #ffffff;
}

::selection {
  background: #d8c0fb;
}
